{% extends 'base.html' %}

{% block content  %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">ABout Us</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome To ECOMMERCE</p>
                </div>
            </div>
        </header>
<br/><br/>
   <div class="container">
    <div class="row">
        <div class="col-8" style="margin: 0 auto; text-align: justify;">
            <p>
             Timeless apparel. Confident, no-fluff narrative on American craftsmanship and quality over trends.
                Perfect for minimal sites: focus on origin, values, and
                product philosophy without overload.
            </p>

            <p>Iconic for sustainability-focused footwear. Their page introduces founders, emphasizes eco-friendly
                materials (like merino wool and sugarcane),
                and uses clean visuals + mission-driven storytelling to build credibility and emotional connection</p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mollis
                ipsum lorem. Mauris sit amet molestie enim. Sed eget tortor sollicitudin,
                ultrices felis eu, mattis massa. Vivamus viverra, orci non egestas dictum,
                lacus ligula finibus enim, a porttitor velit felis sed erat. Proin a nunc
                libero. Aenean sit amet dui quam. Praesent consectetur ipsum diam, non volutpat
                nunc dictum at. Nulla facilisi.
            </p>
        </div>
    </div>
</div>

{% endblock  %}